# Cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local dependencies
node_modules/
.venv/
venv/

# Vercel output
.vercel/
dist/

# OS-specific
.DS_Store
Thumbs.db

# Private files
cookies.txt

